@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope';
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background: #9bc197;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #21ba43;
}

/*! ANTD: Step */
.ant-steps-item-wait .ant-steps-item-content .ant-steps-item-title {
  color: rgba(255, 255, 255, 0.5) !important;
}

.ant-steps-item-title {
  color: white !important;
}

.ant-select-selection-item {
  padding: '20px' !important;
  background-color: 'red' !important;
}

.ant-steps-item-title::after {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

/*! ANTD: Select dropdown */
.ant-select-selector {
  padding: 6px 20px !important;
  border-radius: 12px !important;
  margin-bottom: 20px;
  height: fit-content !important;
}

.ant-select-single {
  height: auto !important;
}

.ant-select-selection-search {
  padding: 6px 8px !important;
}

.ant-select-selection-search-input {
  font-size: 18px !important;
}

.ant-select-selection-placeholder {
  font-size: 18px !important;
}

.ant-select-selection-item {
  font-size: 18px !important;
}

.ant-input-data-count {
  bottom: -25px !important;
  font-size: 14px !important;
  opacity: 0.5;
}

/*! ANTD: Menu */

.ant-menu-title-content {
  font-weight: 600 !important;
  padding: 0 !important;
}

.ant-menu-item-selected {
  background-color: #074c321a !important;
}

.ant-menu-item:active {
  background-color: #074c324c !important;
}

/*! ANTD: COLLAPSE */
.ant-collapse-header-text {
  padding-left: 0px !important;
  font-weight: bold !important;
  font-size: 18px;
  color: black;
}

.ant-collapse-content-box {
  background-color: rgba(255, 255, 255, 0.507) !important;
  border-radius: 12px !important;
  margin-bottom: 10px !important;
  padding-top: 10px !important;
  backdrop-filter: blur(8px);
}

/*! ANTD: MESSAGE */
.ant-message-custom-content {
  font-size: 16px !important;
  color: black !important;
  font-family: 'Manrope' !important;
  padding: 0 5 !important;
}

.ant-message-notice-content {
  border-radius: 12px !important;
}

.ant-message-notice {
  text-align: right !important;
  padding-right: 15px !important;
}

/* !!nprogress */
#nprogress .bar {
  background: #21ba43 !important;
}

.ant-form-item-no-colon {
  font-weight: 500;
}

#components-back-top-demo-custom .ant-back-top {
  bottom: 100px;
}

#components-back-top-demo-custom .ant-back-top {
  bottom: 200px;
}
